body{
	background-color:#262B35;
}
.footer{
	width:100%;
	background-color:#000;
	color:#fff;
	bottom:0;
	display:block;
	height:200px;
	margin-top:0;
}
.flash-message{
	padding-top:70px;
}
.article{
	width:100%;
	background-color:#fff;
	padding: 2%;
}
.article>header{
	text-align:center;
}
.article>p{
	line-height: 150%;
	font-size:16px;
	padding:4%;
}
.article>header>h3>a{
	color:#00ac77;
}
.article>header>h3{
	padding:3%;
}

.article-img{
	text-align:center;
	padding:2%;
}

.landing-background{
	background-image:url(http://www.wallpaper4me.com/images/wallpapers/resident_evil_office_w1.jpeg);
	width:100%;
	height:400px;
	background-size:cover;
	background-position:center center;
	min-height:100%;
}

.landing-text{
	margin:0 auto;
	color:#fff;
	float:none;
}

.col-center{
	float:none;
	margin:0 auto;
}
.content{
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.content ul{
	list-style: none;
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    padding: 0;
}
.content ul li{

	display: inline-block;
    margin: 5px;
}